		body{
        background-image: url(img/1.jpg);
        }
        .form-horizontal{
        color: #f0f0f0;
        background: rgba(82, 82, 82, 0.6); 
        padding-bottom: 40px;
        border-radius: 15px;
        text-align: center;
        }
        .form-horizontal .heading{
        display: block;
        font-size: 35px;
        font-weight: 700;
        padding: 35px 0;
        border-bottom: 1px solid #d0c5ba;
        margin-bottom: 30px;
        }
        .form-horizontal .form-group{
        padding: 0 40px;
        margin: 0 0 25px 0;
        position: relative;
        }
        .form-horizontal .form-control{
        background: #f0f0f0;
        border: none;
        border-radius: 20px;
        box-shadow: none;
        padding: 0 20px 0 45px;
        height: 40px;
        padding-left: 25px;
        }
        .form-horizontal .btn{
        float: right;
        font-size: 14px;
        color: #3d4246;
        background: rgba(162, 180, 192, 0.9);
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        text-transform: capitalize;
        transition: all 0.5s ease 0s;
        margin-top: 16px;
        }
        .col-md-6{
        left: 260px;
        top: 175px;
        }
        .g-recaptcha{
        padding-left: 41px;
        }
        .modal-dialog .modal-content{
        top: 300px;
        border-radius: 30px;
        right: 25px;
        background: rgba(82, 82, 82, 0.95); 
        }
        .modal-dialog .modal-footer{
        border-top: 0px solid #e9ecef;
        }
        .modal-dialog .modal-header{
        padding-left: 165px;
        border-bottom: 0px solid #e9ecef;
        }
		 